.main{
    /*width: 98%;
    height: 90%;
    margin: 20px 10px;
    color: white;
    padding: 10px 10px;
    background-color: #315162*/
    width: 98%;
    height: 90%;
    margin: 20px 10px;
    padding: 10px 10px;
    background-color: #315162;
}

.section{
    margin: 10px 0px;
    padding: 0;

}

.subsection{
    margin: 0;
    padding: 0;
    height: 15rem;
    
}

.unit{
    /*height: auto;
    width: 98%;
    margin: 10px 10px;
    padding: 0;
    background-color: #587484;*/
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    color: white;
    padding: 10px 10px;
    background-color:#587484
}

